@use "../Variables" as v;

#r4179 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 50px;
}

#c4379 {
    border-left-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-color: v.$secondaryBgColor;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

#m1261 {
    max-width: 40%;
    margin-right: auto;
}

#m2893 {
    margin-bottom: 40px;
}

#m4148 {
    background-color: rgba(145, 130, 117, 0.26);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

#m2893_field_6 {
    resize: vertical;
}

@media only screen and (max-width: 1199px) {
    #r4179 {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 15px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 15px;
    }

    #m4148 {
        background-color: rgba(145, 130, 117, 0.26);
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    #r4179 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #c4379 {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }

    #m1261 {
        max-width: 100%;
    }

    #m2893 {
        margin-top: 15px;
        margin-bottom: 20px;
    }
}