@use "../Variables" as v;

#colourpage {
    margin-bottom: 0px;
    padding-bottom: 35px;
}

#r2831 {
    padding-top: 15px;
}

#c4745 {
    padding-left: 0px;
    padding-right: 0px;

    .image-slider-item {
        padding: 5px;
    }
}

#r2751 {
    padding-top: 80px;
    padding-bottom: 80px;
}

#m4729 {
    margin-bottom: 5px;
}

#m2314 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}