@use "../Variables" as v;

.image-slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-slider-list {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
}

.image-slider-item {
    aspect-ratio: 1 / 1;
    padding: 0 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

.image-slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.image-slider-arrowbtn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    color: v.$primaryBgColor;
    background-color: v.$secondaryBgColor;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: v.$primaryColor;
    }

    &:focus-visible {
        background-color: v.$primaryColor;
    }
}

.image-slider-arrowbtn.left {
    left: 10px;
}

.image-slider-arrowbtn.right {
    right: 10px;
}