@use "../Variables" as v;

#c1954 {
    background-color: #fff;
    border-left-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-color: #d8c6b9;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

#m4169 {
    max-width: 45%;
    margin-right: auto;
}

#m2016 {
    margin-bottom: 20px;
}

#m3435_field_2 {
    resize: vertical;
}

@media only screen and (max-width: 1199px) {
    #m4169 {
        max-width: 30%;
    }
}

@media only screen and (max-width: 767px) {
    #c1954 {
        margin-top: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }

    #m4169 {
        max-width: 100%;
    }
}