@use "../Variables" as v;

#stylingpage {
    margin-bottom: 0px;
    padding-bottom: 35px;
}

#images-section-stylingpage {
    background-color: rgba(230, 219, 215, 0.89);
    border-style: solid;
    padding-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;

    .image-slider-item {
        padding: 5px;
    }
}

#c5385 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#r1427 {
    padding-top: 80px;
    padding-bottom: 80px;
}

#m2362 {
    margin-bottom: 5px;
}

#m2618 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    #r1427 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}