@use "../../Variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

input,
input[type="text"] {
    margin: unset;
}

input[type="checkbox"] {
    height: unset;
    width: unset;
}

hr {
    margin: 10px 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #cccccc;
}

#booking {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("/teamimg.jpg");
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background-color: #dddddd;
}

.excluded {
    display: none !important;
}

.header {
    width: 100%;
    max-height: 160px;
    margin: 0 0 75px 0;
}

.header {
    background-color: #DAC8BC;
}

.headerInlay {
    width: 966px;
    margin: 0 auto 0 auto;
    text-align: center;
    position: relative;
}

.headerImage {
    max-width: 100%;
    height: auto;
}

.bookingFooter {
    display: flex;
    margin-top: 30px;
}

.booking-content {
    width: 100%;
    max-width: 966px;
    margin: 0 auto 40px auto;
    padding: 26px 0px 10px 0px;
    background: #f1f1f1;
}

.booking-content.small {
    max-width: 600px;
}

.pageHeader {
    position: relative;
}

.col-1-1,
.col-2-1,
.col-2-2 {
    padding: 0 30px 0 30px;
    margin: 0 0 30px 0;
}

.col-2-1,
.col-2-2 {
    width: 50%;
    float: left;
}

.pageHeaderCaption {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 0 5px 0;
}

.pageHeaderInfo {
    display: block;
    font-size: 16px;
    text-align: center;
}

.sessionTimeoutLabelContainer {
    position: absolute;
    top: -6px;
    right: 24px;
    padding: 0 3px;
}

.sessionTimeoutLabel {
    font-size: 70%;
    font-style: italic;
    line-height: 14px;
}

.bookingButton {
    margin: 3px;
    min-width: 30px;
    min-height: 40px;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    box-sizing: border-box;
}

.headerButtonContainer {
    position: absolute;
    top: -30px;
    right: 24px;
    padding: 0px;

    .logoutButton {
        padding: 0;
        font-weight: 700;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .inverseButton {
        color: #999999 !important;

        &:hover {
            color: #DAC8BC !important;
        }
    }

    .icon-gap {
        margin-left: 5px;
    }
}

.inverseButton {
    background: none !important;
}

.horizontal-ruler {
    height: 2px;
    width: 100%;
    margin: 30px 0 0 0;
    display: block;
    border: none;
    background: #ffffff;
}

.page {
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
}

.page::after {
    content: " ";
    display: block;
    clear: both;
}

.captionLabel {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.infoLabel {
    display: block;
    margin-top: 10px;
}

.bookingForm {
    margin: 0;
    padding: 0;
}

.bookingForm::after {
    content: " ";
    display: block;
    clear: both;
}

.bookingFormRow {
    display: flex;
    flex-direction: row;
    clear: both;
}

.bookingFormLabel {
    flex: 1 1 150px;
    text-align: left;
    border-bottom: 1px solid lightgray;
    margin: 3px;
    min-width: 120px;
}

.bookingFormLabel {
    width: 35%;
    min-height: 40px;
    float: left;
    margin: 10px 0 0 0;
    padding: 10px 10px 0 0;
    word-wrap: break-word;
    border: none;
}

.bookingFormField {
    flex: 1 1 350px;
    margin: 3px;
    min-width: 150px;
}

.bookingFormField {
    width: 65%;
    float: right;
    margin: 10px 0 3px 0;
    padding: 3px;
    min-width: unset;
}

.textfield {
    display: inline-block;
    position: relative;
    margin: 3px;
    padding: 0px;
    width: 200px;
}

.bookingFormField .textfield {
    margin: 0;
    width: 100%;
}

.textfield input {
    padding: 3px;
    width: 100%;
    height: 30px;
}

.textfield input,
.datefield-textfield input {
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    outline-style: none;
    padding: 0 10px;
}

.bookingFormField .textfield input,
.bookingFormField .textfield textarea {
    padding: 5px;
}

.textfield input,
.password input,
.datefield-textfield input {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
}

.passwordForgottenLink {
    float: left;
    width: 100%;
    margin-top: 15px;
    color: #DAC8BC;
    font-style: italic;
}

.bookingFormButton {
    min-height: 40px;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    box-sizing: border-box;
    background: #7c7c7c;
    color: #ffffff;
    -webkit-transition: visibility 1s ease-in-out;
    -moz-transition: visibility 1s ease-in-out;
    -ms-transition: visibility 1s ease-in-out;
    -o-transition: visibility 1s ease-in-out;
    transition: visibility 1s ease-in-out;

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }
}

.bookingFormButton:hover,
.datefield-button:hover,
.datefield-today-button:hover {
    background-color: #f4efeb;
    color: #DAC8BC;
}

.bookingFormButton:disabled {
    //background-color: #7c7c7c;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.backButton {
    float: left;
}

.bullet-list {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}

.bullet-list li {
    margin: 0 0 5px 0;
    padding: 0 0 0 15px;
    position: relative;
}

.bullet-list li::before {
    font-family: 'Font Awesome\ 5 Free';
    content: ">";
    font-weight: 900;
    position: absolute;
    top: 1px;
    left: 0;
    color: #DAC8BC;
}

.clear-row {
    clear: both;
}

.bookingSelectbox {
    padding: 3px;
    min-width: 200px;
    max-width: 200px;
    height: 30px;
    line-height: 16px;
    cursor: pointer;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 6px 0 0 6px;
}

.bookingFormField .bookingSelectbox {
    margin: 0;
    padding: 5px;
}

.bookingCheckbox {
    margin-top: 6px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.agbCheckbox {
    height: auto !important;
    font-size: 11px;
}

.newsletterCheckbox {
    font-size: 11px;
    height: 25px !important;
}

.bookingCheckbox {
    height: 40px;
}

.checkbox-cb {
    flex: 0 0 auto;
    margin-right: 8px;
    cursor: pointer;
    cursor: pointer;
}

.bookingCheckbox-text {
    flex: 1 1 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.termsAndConditionsContainer {
    width: 100%;
    height: 260px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;

    iframe {
        width: 100%;
        height: 95%;
        background: white;
    }
}

.error {
    border: 2px solid #DAC8BC !important;
}

.error-label {
    display: block;
    padding: 5px;
    color: red;
    font-style: italic;
    font-size: 90%;
    text-align: right;
}

.error-label {
    color: #DAC8BC;
}

.error-msg {
    display: table;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: rgb(236, 55, 55);
    color: white;
    border-radius: 5px;
}

.success-msg {
    display: table;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: rgb(150, 228, 34);
    border-radius: 5px;
}

.customerContainer {
    display: flex;
}

.infoContainer {
    flex: 1 1 auto;
}

.infoLabel {
    display: block;
    margin-top: 10px;
}

.contactLabel {
    font-size: 80%;
    font-style: italic;
    line-height: 14px;
}

.currentAppointmentsContainer {
    margin-bottom: 30px;
}

.noAppointmentsLabel {
    display: block;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding: 3px 10px;
}

.list {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    min-height: 30px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    text-align: left;
    line-height: 16px;
    cursor: default;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .list-item.selectionMode {
        cursor: pointer;
    }
}

.appointmentList {
    border: none;
    overflow: auto;
    line-height: 22px;
    max-width: none;
    background: #f1f1f1 !important;
}

.newAppointmentContainer {
    margin-bottom: 30px;
}

.appointmentPage .newAppointmentContainer .buttonRow {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.deleteAccountLabel {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

.servicesList {
    padding: 0 60px 0 0;

    .list-item {
        padding: 0;
        position: relative;

        .category {
            font-size: 14px;
            font-weight: 700;
            margin: 20px 0 10px 0;
            display: inline-block;
        }

        .infoLink {
            position: absolute;
            top: 10px;
            right: -30px;
            color: #DAC8BC;

            svg {
                display: block;
                width: 24px;
                height: 25px;
            }
        }
    }

    .serviceContainer {
        margin: 0 0 3px 0;
        position: relative;
        background: #ffffff;
        color: #333333;

        &.selected {
            font-weight: 600;
            cursor: pointer;
        }

        .serviceLabel {
            display: inline-block;
            width: 65%;
            padding: 10px 30px 10px 30px;
            margin: 0;
            line-height: 18px;
        }

        .staffLabel {
            display: block;
            padding: 0px 30px 10px 30px;
            position: relative;
            top: -8px;
            line-height: 18px;
            font-style: italic;
            font-weight: 400;
        }

        .checkmark {
            position: absolute;
            top: 8px;
            left: 12px;

            svg {
                width: 14px;
                height: 22px;
            }
        }
    }

    .active:hover {
        background-color: #f4efeb !important;
        color: #DAC8BC !important;
        font-weight: 600;
        cursor: pointer;
    }

    .selected {
        background-color: #f4efeb !important;
        color: #DAC8BC !important;
    }
}

.annotationLabel {
    text-align: start;
    line-height: 18px;
    font-style: italic;
    font-weight: 100;
    font-size: x-small;
}

.progressBar {
    margin: -2px 0 0 0;
}

.progressSteps {
    width: 450px;
    margin: 25px auto 20px auto;

    &::after {
        height: 0;
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
    }

    .step {
        width: 150px;
        float: left;
        position: relative;

        &::before {
            width: 95px;
            height: 4px;
            content: '';
            display: block;
            border-radius: 4px;
            position: absolute;
            right: 95px;
            top: 16px;
            margin: -2px 10px 0 10px;
            background: #cccccc;
        }

        &:first-child::before {
            display: none;
        }

        a {
            width: 35px;
            height: 35px;
            border-radius: 35px;
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            line-height: 14px;
            margin: 0 auto 15px auto;
            padding: 10px 0 10px 0;
            position: relative;
            cursor: default;
            background: #ffffff;
            color: #333333;

            &.act {
                background: #7c7c7c;
                color: #ffffff;

                &::before {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    border-radius: 35px;
                    color: #666666;
                }
            }
        }

        span {
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            color: #7c7c7c;
        }
    }
}

.staffList {
    flex: 0 1 210px;
    margin: 0px;
    background: none;
    border: none;
    min-width: 320px;
    max-width: none;
    max-height: 350px;
    overflow-y: auto;

    .list-item {
        display: flex;
        align-items: center;
        padding: 5px 0 5px 0;
        margin: 1px;
        font-weight: 600;
        border-top: 1px solid #cccccc;

        &:last-child {
            border-bottom: 1px solid #cccccc;
        }

        &:hover {
            background-color: #f4efeb;
            color: #DAC8Bc;
        }

        img {
            min-width: 75px;
            width: 75px;
            vertical-align: middle;
        }

        span {
            flex: 1 1 auto;
            padding: 5px 20px;
            max-width: 400px;
        }
    }
}

.dialog {
    .dialog_button_container {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .description {
        display: block;
        margin: 0 0 20px 0;
        max-width: 370px;
        max-height: 150px;
        overflow-y: auto;
        max-height: 200px;
    }

    .duration {
        display: block;
        font-weight: 700;
        font-style: italic;
    }
}

@media screen and (max-width: 965px) {
    #booking {
        min-height: unset;
        background-image: none !important;
    }

    .header {
        margin: 0;
    }

    .headerInlay {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .pageHeader {
        padding-top: 10px;
    }

    .col-2-1 {
        margin: 0 0 40px;
    }

    .col-2-1,
    .col-2-2 {
        width: 100%;
        float: left;
    }

    .col-1-1,
    .col-2-1,
    .col-2-2 {
        padding: 0 15px;
    }

    .bookingFormButton {
        padding: 10px 25px 10px 25px;
    }

    .bookingButton {
        padding: 10px 25px 10px 25px;
    }
}