:root {
    --container-height: calc(var(--thumb-height) + var(--thumb-margin-top));
    --thumb-height: 20px;
    --thumb-width: 20px;
    --thumb-margin-top: 4px;
    --slider-height: 10px;
}

.multi-slider-container {
    border: none;
    border-radius: 5px;
    height: var(--container-height);
    min-width: calc(var(--thumb-width) * 1.05);
    flex: 1 1 auto;
    position: relative;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: var(--slider-height);
    position: absolute;
    top: calc(var(--container-height) / 2);
    transform: translate(0, -50%);
}

.slider {
    position: relative;
    width: 100%;
}

.slider__track {
    background-color: #cccccc;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #ffffff;
    z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    top: calc(var(--container-height) / 2);
    height: 0;
    width: 100%;
    outline: none;
}

.thumb--zindex-3 {
    z-index: 3;
}

.thumb--zindex-4 {
    z-index: 4;
}

.thumb--zindex-5 {
    z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: #DAC8BC;
    border: none;
    border-radius: 50%;
    //box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: var(--thumb-height);
    width: var(--thumb-width);
    margin-top: var(--thumb-margin-top);
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: #DAC8BC;
    border: none;
    border-radius: 50%;
    //box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: var(--thumb-height);
    width: var(--thumb-width);
    margin-top: var(--thumb-margin-top);
    pointer-events: all;
    position: relative;
}