$menuBtnHeight: 40px;
$headerBgColor: rgba(216, 198, 185, 0.95);
$primaryColor: #000;
$secondaryColor: #5d5d5d;
$tertiaryColor: #b6a398;
$primaryBgColor: #fff;
$secondaryBgColor: #d8c6b9;
$tertiaryBgColor: #e6dbd7;