@use "src/Variables" as v;
//@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

body {
    font-family: Oxygen;
    color: rgb(42, 42, 42);
    line-height: 1.6em;
    font-size: medium;
    font-weight: normal;
    overflow-x: hidden;

    a {
        color: #918275;
        text-decoration: none;

        &:hover {
            color: v.$primaryColor;
        }
    }
}

p,
pre {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

nav {
    position: relative;

    ul,
    ol {
        list-style: none;
        list-style-image: none;
        list-style-image: none;
        display: none;
        position: absolute;
        right: -15px;
        top: calc(100% + 20px);
        background-color: v.$headerBgColor;
    }

    .navContainer.open {
        padding: 10px;
        display: flex;
        flex-direction: column;
        z-index: 80;
    }

    >ul li {
        text-align: left;

        a {
            display: inline-block;
            text-transform: uppercase;
            border-bottom-width: 4px;
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 4px;
            padding-bottom: 4px;

            &.active {
                color: v.$primaryColor;
                border-color: v.$primaryColor;
            }
        }

        >a {
            color: v.$secondaryColor;
            transition: all 0.25s linear 0s;

            &:hover {
                border-color: v.$primaryColor;
            }
        }
    }
}

html,
button,
input,
select,
textarea {
    font-family: inherit;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button,
input {
    line-height: 1em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


input {
    display: block;
    width: 100%;
    margin-top: 5px;
}

input[type="text"] {
    font-size: 14px;
    color: #777;
    border-color: #d3d3d3;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 4px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

.designRow {
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0;
    background-color: transparent;
}

.row {
    position: relative;
    width: 100%;
}

.container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container-fixed {
    width: 100%;
}

.w-full {
    width: 100%;
}

.p-0 {
    padding: 0 !important;
}

.bold {
    font-weight: bold;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.secondary-color {
    color: v.$secondaryColor !important;
}

.tertiary-color {
    color: v.$tertiaryColor;
}

.error-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

body .designRow>.container>.col {
    padding: 0;
    margin: 0;
}

.col::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.col.flexCol {
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.col-sm-5 {
    width: 41.66667%;
}

.col-sm-7 {
    width: 58.33333%;
}

.col-sm-12 {
    width: 100%;
}

.module {
    display: block;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-top: 0px;
    list-style: none;
}

.button {
    border-width: 0px;
    border-radius: 5px;
    background-color: v.$primaryBgColor;
    font-weight: 700;
    color: v.$tertiaryColor;
    text-align: center;
    text-transform: uppercase;
    border-left-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: v.$tertiaryColor;
    margin-top: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;

    display: table;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:hover {
        background-color: rgba(216, 198, 185, 0.15);
        color: v.$tertiaryColor;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }
}

.divider {
    background: url("/trenner.png") repeat;
    width: 30%;
    border-top-width: 4px;
    border-color: v.$tertiaryBgColor;
    display: table;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 17px;
    margin-right: auto;
    height: 1px;
}

.text {
    margin-bottom: 0px;
    padding-top: 0px;
}

.module.text * {
    word-wrap: break-word;
}

.darkspottext {
    color: v.$primaryColor;
    font-size: 40px;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

.preamble {
    color: v.$tertiaryColor;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: left;
}

.headline {
    color: v.$tertiaryColor;
    font-size: 40px;
    line-height: 1.15em;
    margin-top: 9px;
    margin-bottom: 5px;
}

.subtitle {
    font-weight: 700;
    color: v.$primaryColor;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 4px;
}

.autospacer {
    -ms-flex: 1 auto;
    flex: 1 auto;
    flex-basis: auto;
    flex-basis: auto;
    display: flex;
    margin: 0 !important;
}

.image {
    max-width: 100%;
}

.image-container {
    display: block;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.iconlist {
    text-align: right;

    li {
        display: inline-block;
        position: relative;
        margin-left: 5px;
        width: 50px;
        height: 50px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: v.$primaryColor;

            &:hover {
                color: v.$secondaryColor;
            }

            svg {
                width: auto;
                height: 30px;
            }
        }
    }
}

.bodytext {
    color: v.$primaryColor;
    text-decoration: none;
    text-align: left;
}

.menuBtn {
    width: 35px;
    height: v.$menuBtnHeight;
    background-color: transparent;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover svg {
        color: v.$secondaryColor;
    }
}

.custom1 {
    font-weight: 700;
    color: #918275;
    text-decoration: none;
    letter-spacing: 0.05em;
    line-height: 1.45em;
}

.form {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
    padding-right: 0px;
}

.clear::after {
    clear: both;
}

.clear::after,
.clear::before {
    display: table;
    content: "";
    flex-basis: 0;
    order: 1;
}

.form input,
.form textarea,
.form select,
.login input,
.login textarea,
.login select {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.form input[type="text"],
.form input[type="password"],
.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    height: 37px;
    line-height: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-right-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-bottom-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-left-width: 1px;
    border-left-color: rgb(204, 204, 204);
    font-size: 14px;
    color: #646464;
    background-color: #f8f8f8;
    margin-top: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form input[type="text"],
.form textarea,
.form select {
    font-size: 14px;
    color: rgb(119, 119, 119);
    border-color: rgb(211, 211, 211);
    border-radius: 3px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin-top: 0px;
    margin-right: 1px;
    margin-bottom: 14px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

.form input[type="text"],
.form input[type="date"],
.form textarea,
.form select {
    background-color: rgba(230, 219, 215, 0.74);
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: v.$primaryColor;
    margin-bottom: 10px;
    margin-right: 0px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    color: v.$primaryColor;
    font-size: 16px;
}

.form input[type="checkbox"],
.form input[type="radio"],
.login input[type="checkbox"],
.login input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    display: inline-block;
}

.form input::placeholder,
.form textarea::placeholder,
.login input::placeholder,
.login textarea::placeholder {
    color: inherit;
}

.form label,
.login label {
    display: block;
    margin-top: 10px;
}

.form label {
    color: v.$primaryColor;
    letter-spacing: 0.04em;
    line-height: 1.25em;
    text-align: left;
    margin-top: 5px;
}

.form label:empty,
.login label:empty {
    display: none;
}

.form input[type="checkbox"]+label {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.form input[type="checkbox"]+span,
.form input[type="radio"]+span,
.form .form_option input[type="checkbox"]+label {
    font-size: 14px;
    line-height: 1.55em;
    margin-left: 0px;
    margin-top: 15px;
}

.form input[type="checkbox"]+label::before {
    display: inline-block;
    vertical-align: middle;
    left: 0;
    width: 1.8em;
    height: 1.8em;
    font-family: 'FontAwesome';
    font-size: 0.8em;
    text-align: center;
    line-height: 1.7em;
    margin-right: 0.5em;
    content: '';
    color: #333;
    background: #FFF;
    border: 1px solid #ccc;
    letter-spacing: normal;
    font-style: normal;
}

.form input[type="checkbox"]:checked+label::before {
    content: "\2713";
}

.form input[type="submit"],
.login input[type="submit"],
.form .button[type="submit"] {
    width: auto;
    white-space: normal;
}

.form input[type="submit"],
.form .button[type="submit"] {
    display: table;
    margin-top: 0px;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form .field,
.login .field {
    display: block;
    float: left;
    width: 100%;
}

.form .fields,
.form .optins,
.login .fields,
.login .optins {
    margin-left: -.25%;
    margin-right: -.25%;
}

.form[data-settings*="margin=1"] .field,
.login[data-settings*="margin=1"] .field {
    padding-left: .25%;
    padding-right: .25%;
}

.form[data-settings*="margin=1"] .fields,
.form[data-settings*="margin=1"] .optins,
.login[data-settings*="margin=1"] .fields,
.login[data-settings*="margin=1"] .optins {
    margin-left: -.25%;
    margin-right: -.25%;
}

.form .fields,
.form .optins,
.login .fields,
.login .optins {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.form textarea,
.login textarea {
    min-height: 100px;
}

.form input[type="file"],
.login input[type="file"] {
    display: none;
}

.form .uploadWrapper,
.login .uploadWrapper {
    font-weight: 400;
}

.form .uploadWrapper button.uploadBtn,
.login .uploadWrapper button.uploadBtn {
    border-radius: 3px;
    color: v.$primaryColor;
    border: 1px solid #8f8f9d;
    padding: 3px 5px;
    margin-right: 2px;
    font-size: 16px;
    font-family: Roboto;
}

.form .field.w100,
.login .field.w100 {
    width: 100%;
}

.form .field.w50,
.login .field.w50 {
    width: 50%;
}

.form .form_option,
.login .form_option {
    display: inline-block;
}

.opennow {
    min-height: 10px;
}

.opennow>span {
    display: block;
}

.opennow .closed {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.05em;
}

.opennow .opened {
    font-weight: 700;
    color: v.$tertiaryColor;
    font-size: 18px;
    line-height: 1.05em;
}

.openinghours .dayLabel,
.openinghours2 .dayLabel {
    float: left;
}

.openinghours .ranges,
.openinghours2 .ranges {
    float: right;
    text-align: right;
}

.openinghours .ranges {
    margin-bottom: 10px;
}

.scrollIcon {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 5;
}

.scrollIcon {
    width: 60px;
    height: 60px;
    background-color: v.$secondaryBgColor;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    svg {
        width: 45px;
        height: 45px;
        color: v.$primaryBgColor;
    }

    &:hover {
        background-color: v.$primaryColor;
    }

    &.bottom_right {
        bottom: 60px;
        right: 60px;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
        -webkit-transition: visibility 1s ease-in-out;
        -moz-transition: visibility 1s ease-in-out;
        -ms-transition: visibility 1s ease-in-out;
        -o-transition: visibility 1s ease-in-out;
        transition: visibility 1s ease-in-out;
    }

    &.hidden {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 1s ease-in-out;
        -moz-transition: visibility 1s ease-in-out;
        -ms-transition: visibility 1s ease-in-out;
        -o-transition: visibility 1s ease-in-out;
        transition: visibility 1s ease-in-out;
    }
}

.stickyEngagementWrapper {
    position: fixed;
    bottom: 200px;
    right: 0;
    top: auto;
    left: auto;
    z-index: 11;

    &.top_right {
        bottom: auto;
        top: 200px;
        right: 0;
        left: auto;
    }
}

.engagement {
    z-index: 12;
    position: fixed;
    display: none;

    &.sticky {
        position: relative;
        margin-bottom: 15px;
        float: right;
        clear: both;
        outline: 0;
        max-width: 100vw;
        overflow-y: auto;
        -ms-overflow-style: none;

        .stickyTitle {
            padding: 0;
        }

        .stickyIcon {
            position: relative;
            width: 25px;
            height: 25px;
        }
    }

    &.sticky {
        background-color: v.$tertiaryBgColor;
        border-left-width: 4px;
        border-top-width: 4px;
        border-bottom-width: 4px;
        border-color: v.$secondaryBgColor;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;

        .stickyTitle {
            color: v.$primaryColor;
            font-size: 18px;
            margin-left: 10px;

        }

        .stickyIcon {
            margin-top: 0px;
            margin-bottom: 0px;
            color: v.$primaryColor;
            font-size: 30px;
            width: 50px;
            height: 50px;
            border-color: v.$secondaryBgColor;
            margin-right: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.sticky.hovereffect .stickyTitle {
        display: inline-block;
        width: 0;
        transition: all 0.15s linear 0s;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }

    .closeBtn {
        position: absolute;
        top: 18px;
        right: 18px;
        text-decoration: none;
        width: 44px;
        height: 44px;
    }

    &.modal {
        width: 600px;
        min-height: 200px;
        max-height: 80vh;
        top: 10vh;
        left: 50%;
        margin-left: -300px;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 12px;
        line-height: 1.5em;

        .headline {
            font-family: Open Sans;
            color: #000;
            font-size: 30px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .closeBtn {
            color: rgb(249, 249, 249);
            background-color: transparent;
            font-size: 30px;
            width: 30px;
            height: 30px;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}

.modal {
    background-color: rgb(252, 161, 156);
    background-image: url("/trenner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-style: double;
    border-left-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-color: #e1e0e0;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
}

#e7bok {
    display: block;

    .stickyTitle {
        padding: 0px;
    }

    &:hover .stickyTitle {
        width: 125.133px;
        padding: 0px 0px 0px 0px;
    }

    svg {
        width: 25px;
        height: 30px;
    }
}

/* Header styling */

#page-header {
    background-color: v.$headerBgColor;
    background-size: cover;
    background-position: 50% 50%;
    padding-left: 150px;
    padding-bottom: 0px;
    padding-right: 150px;
}

#header-left {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#header-right {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
}

#header-logo {
    max-width: 50%;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
}

#main-navigation {
    text-align: right;
}

#telephone-info a {
    color: v.$secondaryColor;

    &:hover {
        color: v.$primaryColor;
    }
}

/* Media queries */

@media only screen and (max-width: 1199px) {
    .headline {
        font-size: 35px;
    }

    .darkspottext {
        font-size: 35px;
    }

    .bodytext {
        color: v.$primaryColor;
    }

    #page-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    #header-logo {
        max-width: 60%;
    }

    .engagement.modal .headline {
        font-size: 26px;
    }

    .engagement.modal .bodytext {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .button {
        font-size: 14px;
    }

    .headline {
        font-size: 20px;
    }

    .darkspottext {
        font-size: 25px;
    }

    .subtitle {
        font-size: 18px;
    }

    .form label {
        color: rgb(51, 51, 51);
    }

    .form .field,
    .login .field {
        width: 100% !important;
    }

    .form input[type="submit"],
    .form .button[type="submit"] {
        width: 100%;
        margin-left: auto;
        margin-top: 19px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .modal {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .engagement.modal {
        width: 90%;
        margin-left: -45%;
    }

    .engagement.modal .headline {
        font-size: 18px;
        line-height: 1.1em;
        margin-bottom: 10px;
    }

    .engagement.modal .bodytext {
        font-size: 10px;
        line-height: 1.3em;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66667%;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                text-align: left;
                position: relative;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #main-navigation {
        text-align: center;
    }

    nav .navContainer.open {
        display: block;
        padding: 0;
    }

    nav ul,
    nav ol {
        display: block;
        position: relative;
        background-color: unset;
        top: unset;
        right: unset;
    }

    .menuBtn {
        display: none;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .container-fixed {
        max-width: 1170px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .hidden-sm {
        display: none !important;
    }
}

@keyframes bounceInDown {

    60%,
    75%,
    90%,
    0%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}